# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
inst/doc
*.dcf
docs
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
